<% include partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Create a new Summit</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form method="POST" action="/summits">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name" id="">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Image URL" id="">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="spLink" placeholder="Summit Post Page URL" id="">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Description" id="">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                </div> 
            </form>
            <a href="/summits">Go back</a>
        </div>
    </div>
</div>

<% include partials/footer %>